.about {
  padding-top: 70px;
}

.about__container {
  display: grid;
  grid-template-columns: 702px 498px;
  column-gap: 40px;
  row-gap: 60px;
}

.about__head p {
  font-size: 22px;
  line-height: 32px;
}

.about__goal h3 {
  margin: 0;
  margin-bottom: 40px;
  
  font-size: 32px;
  line-height: 36px;
  color: #316DC2;
}

.about__goal p {
  margin: 0;
  margin-bottom: 50px;
  
  font-size: 16px;
  line-height: 26px;
  text-wrap: pretty;
}

.about__button {
  @include button-style-light;
  @include button-disable-style;
}

.about__features {
  grid-column: 1 / 3;
}