.about {
  padding-top: 70px;

  @media (max-width: $tablet) {
    padding-top: 50px;
  }

  @media (max-width: $mobile) {
    padding-top: 51px;
  }
}

.about__container {
  display: grid;
  grid-template-columns: 702px 498px;
  column-gap: 40px;
  row-gap: 60px;

  @media (max-width: $tablet) {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }

  @media (max-width: $mobile) {
    row-gap: 20px;
  }
}

.about__title {
  @media (max-width: $mobile) {
    margin-bottom: 14px;
  }
}

.about__head {
  @media (max-width: $mobile) {
    margin-bottom: 20px;
  }
}

.about__head p {
  margin: 0;
  font-size: 22px;
  line-height: 32px;

  @media (max-width: $tablet) {
    font-size: 20px;
    line-height: 26px;
  }

  @media (max-width: $mobile) {
    font-size: 16px;
    line-height: 22px;
  }
}

.about__goal {
  @media (max-width: $tablet) {
    margin-bottom: 20px;
  }
}

.about__goal h3 {
  margin: 0;
  margin-bottom: 40px;

  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  color: #316dc2;

  @media (max-width: $tablet) {
    margin-bottom: 30px;

    font-size: 28px;
    line-height: 28px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 20px;

    font-size: 18px;
    line-height: 22px;
  }
}

.about__goal p {
  margin: 0;
  margin-bottom: 50px;

  font-size: 16px;
  line-height: 26px;

  @media (max-width: $tablet) {
    margin-bottom: 40px;
    max-width: 536px;

    line-height: 20px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 30px;

    font-size: 14px;
  }
}

.about__button {
  @include button-style-light;
  @include button-disable-style;

  @media (max-width: $mobile) {
  }
}

.about__features {
  grid-column: 1 / 3;

  @media (max-width: $tablet) {
    grid-column: 1 / 2;
  }
}
