.features {
  padding: 50px 100px;
  color: #F0EFE9;

  background-color: #316DC2;
  border-radius: 20px;

  @media (max-width: $tablet) {
    padding: 50px;
  }

  @media (max-width: $mobile) {
    padding: 20px 20px 40px 0;
  }
}

.features__list {
  @include list-reset;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(184px, auto) minmax(164px, auto);
  grid-auto-rows: minmax(164px, auto);
  gap: 32px;

  @media (max-width: $tablet) {
    grid-template-rows: minmax(213px, auto) minmax(193px, auto);
    grid-auto-rows: minmax(193px, auto);
  }

  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(149px, auto);
    grid-auto-rows: minmax(149px, auto);
    gap: 0;

    overflow: hidden;
  }
}

.features__item {
  position: relative;
  z-index: 1;

  padding-top: 22px;
  padding-left: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    z-index: 2;

    width: 45px;
    height: 42px;

    background-color: #316DC2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 22px;
    background-image: url("/__spritemap#sprite-list-marker-view");
  }
}

.features__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 5px 40px;
  height: 100%;

  border: 1px solid #F0EFE9;
  border-radius: 16px;

  @media (max-width: $tablet) {
    grid-template-columns: 1fr;
    align-content: start;
    row-gap: 14px;
    padding: 16px 20px 15px;
  }
}

.features__content dt {
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.26px;
  text-transform: uppercase;

  @media (max-width: $tablet) {
    max-width: 205px;

    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.2px;
  }

  @media (max-width: $mobile) {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.16px;
  }
}

.features__item--4 dt {
  @media (max-width: $mobile) {
    max-width: 164px;
  }
}

.features__content dd {
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  font-weight: 300;

  @media (max-width: $tablet) {
    align-self: self-start;
  }

  @media (max-width: $mobile) {
    font-size: 14px;
  }
}
