.footer-nav {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @media (max-width: $tablet) {
    gap: 15px;
  }

  @media (max-width: $mobile) {
    justify-content: center;
    gap: 20px 30px;
  }
}

.footer-nav__link {
  @include link-reset;
  @include text-link-effects;
}