.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-size: 14px;
  line-height: 18px;
  color: #F0EFE9;

  @media (max-width: $tablet) {
    line-height: 20px;
  }

  @media (max-width: $mobile) {
    font-size: 12px;
    line-height: 14px;
  }
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form__field--select {
  margin-top: -2px;
}

.form__label {
  opacity: 0.8;
}

.form__field:hover .form__label {
  opacity: 1;
}

.form__input {
  appearance: none;
  min-height: 50px;
  padding: 10px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}

.form__field:hover .form__input {
  border: 1px solid rgba(255, 255, 255, 1);
}

.form__textarea {
  min-height: 90px;
}

.form__select {
  appearance: none;
  min-height: 50px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}

.form__option {
  padding: 17px 20px;

  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:hover {
    color: #ffffff;
    background-color: #316dc2;
  }
}

.form__agreement {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.form__agreement-check {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 2px;
}

.form__agreement-text {
  font-size: 12px;
  line-height: 12px;
  opacity: 0.9;

  @media (max-width: $mobile) {
    line-height: 14px;
  }
}

.form__agreement-br {
  display: none;

  @media (max-width: $mobile) {
    display: inline;
  }
}

.form__submit {
  @include button-style-dark;

  justify-content: center;
}
