.grant {
  padding: 120px 0;
  color: #F0EFE9;
  background-color: #316DC2;

  @media (max-width: $tablet) {
    padding: 100px 0;
  }

  @media (max-width: $mobile) {
    padding: 70px 0;
  }
}

.grant__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 138px;
  padding-right: 206px;

  @media (max-width: $tablet) {
    grid-template-columns: 1fr;
    gap: 40px;
    padding-right: 45px;
  }

  @media (max-width: $mobile) {
    gap: 30px;
    padding-right: 15px;
  }
}

.grant__title {
  color: #ffffff;
}

.grant__head p {
  margin: 0;
  margin-bottom: 40px;

  @media (max-width: $tablet) {
    max-width: 498px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 30px;
  }
}

.grant__img {
  width: 100%;

  border-radius: 16px;
}

.grant__img img {
  border-radius: 16px;
}

.grant__accent-text {
  margin: 0;
  margin-bottom: 30px;
  padding: 10px 0;

  font-size: 32px;
  line-height: 36px;
  color: #ffffff;

  @media (max-width: $tablet) {
    font-size: 28px;
    line-height: 28px;
  }

  @media (max-width: $mobile) {
    max-width: 210px;

    font-size: 18px;
    line-height: 22px;
  }
}

.grant__list {
  @include list-reset;

  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;

  @media (max-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    gap: 10px 28px;
  }

  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
    gap: 10px
  }
}

.grant__item {
    position: relative;
    z-index: 1;

    padding-top: 15px;
    padding-left: 20px;

    &::before {
      content: counter(list-item);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;

      display: flex;
      justify-content: center;
      align-items: center;
      width: 42px;
      height: 42px;

      font-size: 22px;
      line-height: 22px;
      font-weight: 500;
      letter-spacing: 0.22px;

      background-color: #316DC2;
    }

  @media (max-width: $tablet) {
    min-height: 117px;
  }

  @media (max-width: $mobile) {
    padding-top: 5px;
    padding-left: 15px;
    min-height: 70px;

    &::before {
      width: 32px;
      height: 32px;

      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0;
    }
  }
}

.grant__text {
  margin: 0;
  padding: 30px 26px;
  height: 100%;

  border: 1px solid #F0EFE9;
  border-radius: 16px;

  @media (max-width: $mobile) {
    padding: 25px 26px;
  }
}
