.hero {
  display: flex;
  align-items: flex-end;
  min-height: 684px;

  @media (max-width: $tablet) {
    min-height: 908px;
  }

  @media (max-width: $mobile) {
   min-height: 474px;
  }
}

.hero__swiper {
  box-sizing: border-box;
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column-reverse;
  width: 968px;

  overflow: hidden;

  @media (max-width: $tablet) {
    width: 659px;
  }
  
  @media (max-width: $mobile) {
    width: 290px;
  }
}

.hero__slide {
  box-sizing: border-box;
}

.hero__navigation {
  @include decor-angle(20);
  
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  padding: 14px 20px;
  width: fit-content;

  background-color: #ffffff;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  @media (max-width: $mobile) {
    @include decor-angle(10);

    padding: 10px 16px;
  }
}

.hero__bullet {
  @include button-reset;

  width: 12px;
  height: 12px;

  border: 2px solid #316DC2;
  border-radius: 50%;

  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out, border 0.3s ease-in-out;

  &:hover {
    background-color: #316DC2;
    border: 2px solid #FFFFFF;
    opacity: 0.7;
  }

  &:focus-visible {
    background-color: #316DC2;
    outline: none;
  }

  &:active,
  &--active {
    background-color: #275699;
    border: 2px solid #275699;
    opacity: 1;
  }

  @media (max-width: $mobile) {
    width: 8px;
    height: 8px;
  }
}

.hero__title {
  margin: 0;
  padding: 40px 50px 30px;
  width: 100%;

  font-size: 54px;
  line-height: 62px;

  background-color: #ffffff;

  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (max-width: $tablet) {
    padding: 30px 40px 24px;

    font-size: 36px;
    line-height: 44px;
  }

  @media (max-width: $mobile) {
    padding: 20px 14px 16px;

    font-size: 22px;
    line-height: 26px;
  }
}

.hero__content {
  @include decor-angle(26);

  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  padding: 0 49px 35px 50px;
  width: 775px;

  background-color: #ffffff;

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  &::before {
    bottom: auto;
    top: 0;
    right: -25.7px;
    transform: rotate(90deg);
  }

  @media (max-width: $tablet) {
    padding: 0 40px 35px 40px;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
    padding: 0 14px 15px;
  }
}

.hero__slide p {
  margin: 0;
  max-width: 446px;

  @media (max-width: $tablet) {
    max-width: 241px;
  }

  @media (max-width: $mobile) {
    max-width: 100px;
  }
}

.hero__link {
  @include link-reset;
  @include button-style-light;
  @include link-disable-style;

  align-self: center;
  min-width: 199px;
  padding: 21px;
  padding-left: 30px;

  @media (max-width: $mobile) {
    min-width: 154px;
    padding: 16px;
    padding-left: 21px;
  }
}
