.news-item {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  min-height: 400px;
  width: 286px;

  background-color: #316DC2;
  border-radius: 12px;

  @media (max-width: $tablet) {
    height: 350px;
    min-height: 350px;
    width: 324px;
  }

  @media (max-width: $mobile) {
    height: 330px;
    min-height: 330px;
    width: 290px;
  }
}

.news-item:nth-of-type(3n + 1) {
  width: 604px;

  @media (max-width: $tablet) {
    width: 324px;
  }

  @media (max-width: $mobile) {
    width: 290px;
  }
}

.news__swiper .news__list .news-item:nth-of-type(2n) {
  @media (max-width: $mobile) {
    height: 240px;
    min-height: 240px;
  }
}

.news-item__date {
  @include decor-angle(16);

  display: block;
  padding: 12px 12px 6px 0;
  margin: -1px 0;
  width: fit-content;

  font-size: 12px;
  line-height: 12px;
  color: #316DC2;
  letter-spacing: 0.12px;

  background-color: #F0EFE9;
  border-top-right-radius: 12px;

  &::after {
    content: "";
    position: absolute;
    top: -16px;
    left: 0;

    width: 16px;
    height: 16px;

    background-color: inherit;
    mask-repeat: no-resize;
    mask-position: center;
    mask-size: cover;
    mask-image: url("/__spritemap#sprite-angle-view");
  }
}

.news-item__title {
  @include decor-angle(16);

  margin: 0;
  padding: 10px 20px 4px 0;
  width: 190px;

  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: #316DC2;

  border-top-right-radius: 12px;
  background-color: #F0EFE9;

  @media (max-width: $tablet) {
    padding: 10px 16px 6px 0;
    width: 207px;

    font-size: 20px;
    line-height: 24px;
  }
}

.news-item:nth-of-type(3n + 1) .news-item__title {
  width: 426px;

  @media (max-width: $tablet) {
    width: 207px;
  }
}

.news-item__content {
  @include decor-angle(16);

  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 18px 15px 0;
  width: 240px;

  border-top-right-radius: 12px;
  background-color: #F0EFE9;
}

.news-item:nth-of-type(3n + 1) .news-item__content {
  width: 468px;

  @media (max-width: $tablet) {
    width: 240px;
  }
}

.news-item__content p {
  margin: 0;

  font-size: 14px;
  line-height: 18px;

  @media (max-width: $tablet) {
    line-height: 20px;
  }
}

.news-item__link {
  @include link-reset;
  @include link-decor;
  @include link-disable-style;
}