.news {
  @media (max-width: $mobile) {
    padding-top: 51px;
  }
}

.news__container {
  @media (max-width: $mobile) {
    padding-right: 0;
  }
}

.news__title {
  margin-bottom: 44px;
  text-align: center;

  @media (max-width: $tablet) {
    margin-bottom: 34px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 24px;
    padding-right: 15px;
  }
}

.news__topic-list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 36px;
  margin-bottom: 44px;
  width: 100%;

  @media (max-width: $tablet) {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 13px;
    margin-bottom: 34px;
    margin-left: 5px;
  }

  @media (max-width: $mobile) {
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 23px;
    margin-left: 0;
    padding-left: 3px;
    min-height: 36px;

    overflow-x: auto;
    scrollbar-width: none;
  }
}

.news__topic-list::-webkit-scrollbar {
  @media (max-width: $mobile) {
    display: none;
  }
}

.news__button {
  @include button-reset;

  width: 114px;
  padding: 12px 0;

  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: $button-dark-color;

  opacity: 0.6;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  border-radius: 20px;

  transition: border 0.3s ease-in-out, opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:hover {
    opacity: 1;
  }

  &:focus-visible {
    background-color: $button-light-color;
    outline: none;
    opacity: 1;
  }

  @media (max-width: $tablet) {
    padding: 12px 19px;
    width: fit-content;
  }

  @media (max-width: $mobile) {
    padding: 9px 14px;

    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.24px;
  }
}

.news__button--active {
  opacity: 1;
  outline: 2px solid $button-dark-color;
  outline-offset: 2px;

  @media (max-width: $mobile) {
    outline-offset: 0;
  }
}

.news__swiper {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;

  @media (max-width: $tablet) {
    min-height: 730px;
  }

  @media (max-width: $mobile) {
    min-height: 590px;
    height: 590px;
    padding-right: 15px;
  }
}

.news__list {
  @include list-reset;

  box-sizing: border-box;
}

.news__control {
  position: relative;

  display: block;
  min-height: 32px;
  margin-top: 40px;

  @media (max-width: $tablet) {
    margin-top: 30px;
    padding-right: 0;
  }

  @media (max-width: $mobile) {
    margin-top: 24px;
    padding-right: 15px;
    min-height: 26px;
  }
}

.news__navigation {
  margin: 0 -50px;

  @media (max-width: $tablet) {
    margin: 0;
  }

  @media (max-width: $mobile) {
    left: 12px;
    width: 97%;
  }
}

.news__pagination {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: flex;
  gap: 20px;

  @media (max-width: $mobile) {
    z-index: 2;
    gap: 17px;
    padding-left: 17px;
  }
}

.news__bullet {
  @include button-reset;

  width: 32px;
  height: 32px;

  font-size: 16px;
  line-height: 16px;
  color: $button-dark-color;

  border-radius: 50%;
  opacity: 0.5;

  transition: opacity 0.3s ease-in-out, outline 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:hover {
    outline: 2px solid $button-dark-color;
    opacity: 1;
  }

  &:focus-visible {
    background-color: $button-light-color;
    outline: 2px solid $button-dark-color;
    opacity: 1;
  }

  &:active {
    color: $button-light-color;
    background-color: $effects-active-color;
    outline: 2px solid $effects-active-color;
    opacity: 1;
  }

  @media (max-width: $mobile) {
    width: 26px;
    height: 26px;
  }
}

.news__bullet--active {
  color: $button-light-color;
  background-color: $button-dark-color;
  opacity: 1;

  &:focus-visible {
    color: $button-dark-color;
  }
}
