.news__swiper {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;

  @media (max-width: $tablet) {
    height: 730px;
  }

  @media (max-width: $mobile) {
    height: 590px;
  }
}

.news__list {
  @include list-reset;
  
  box-sizing: border-box;
  margin-bottom: 40px;

  @media (max-width: $tablet) {
    margin-bottom: 0;
  }
}

.news__control {
  position: relative;
  
  display: block;
  min-height: 32px;

  @media (max-width: $tablet) {
    margin-top: 30px;
  }

  @media (max-width: $mobile) {
    margin-top: 24px;
    min-height: 26px;
  }
}

.news__navigation {
  @media (max-width: $mobile) {
    left: 15px;
    width: 100%;
  }
}

.news__pagination {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: flex;
  gap: 20px;

  @media (max-width: $mobile) {
    gap: 16px;
  }
}

.news__bullet {
  @include button-reset;
  
  width: 32px;
  height: 32px;

  font-size: 16px;
  line-height: 16px;
  color: #316DC2;
  
  border-radius: 50%;
  opacity: 0.5;

  @media (max-width: $mobile) {
    width: 26px;
    height: 26px;
  }
}

.news__bullet--active {
  color: #ffffff;
  background-color: #316DC2;
  opacity: 1;
}