.programs__container {
  position: relative;
}

.programs__link {
  @include link-reset;
  @include button-style-light;
  @include link-disable-style;

  position: absolute;
  top: 2px;
  right: 100px;
}

.programs__title {
  padding: 5px 0;
  margin-bottom: 40px;
}

.programs__swiper {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.programs__list {
  @include list-reset;

  margin-bottom: 40px;
}
