.programs__container {
  position: relative;

  @media (max-width: $tablet) {
    padding-right: 0;
  }

  @media (max-width: $mobile) {
    padding-right: 15px;
  }
}

.programs__link {
  @include link-reset;
  @include button-style-light;
  @include link-disable-style;

  position: absolute;
  top: 2px;
  right: 100px;

  @media (max-width: $tablet) {
    right: 45px;
  }

  @media (max-width: $mobile) {
    position: relative;
    top: auto;
    right: auto;
  }
}

.programs__title {
  padding: 5px 0;
  margin-bottom: 40px;

  @media (max-width: $mobile) {
    margin-bottom: 30px;
  }
}

.programs__swiper {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.programs__list {
  @include list-reset;

  margin-bottom: 40px;

  @media (max-width: $mobile) {
    margin-bottom: 30px;
  }
}
