.reviews__title {
  padding-left: 3px;
  padding-top: 5px;
  margin-bottom: 45px;
}

.reviews__swiper {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.reviews__list {
  @include list-reset;

  margin-bottom: 40px;
}
