.review {
  box-sizing: border-box;
  padding: 50px;
  padding-right: 48px;
  min-height: 483px;

  border: 2px solid #316DC2;
  border-radius: 16px;

  @media (max-width: $tablet) {
    min-height: 417px;
  }

  @media (max-width: $mobile) {
    padding: 30px 15px;
    min-height: 472px;
  }
}

.review__author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  @media (max-width: $tablet) {
    justify-content: flex-start;
    column-gap: 65px;
    margin-bottom: 31px;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
    align-items: start;
    gap: 0;
    margin-bottom: 10px;
  }
}

.review__profile {
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 260px;

  @media (max-width: $tablet) {
    max-width: 220px;
  }

  @media (max-width: $mobile) {
    gap: 10px;
    margin-bottom: 1px;
  }
}

.review__photo {
  display: block;
  width: 90px;
  height: 90px;

  border-radius: 50%;

  @media (max-width: $mobile) {
    width: 60px;
    height: 60px;
  }
}

.review__name {
  font-size: 18px;
  line-height: 24px;
  color: #316DC2;

  @media (max-width: $tablet) {
    font-size: 20px;
  }

  @media (max-width: $mobile) {
    font-size: 14px;
    line-height: 18px;
  }
}

.review__study {
  display: flex;
  gap: 25px;

  @media (max-width: $tablet) {
    padding-top: 1px;
  }
}

.review__study dd {
  margin: 0;

  font-size: 14px;
  line-height: 18px;

  @media (max-width: $tablet) {
    line-height: 20px;
  }

  @media (max-width: $mobile) {
    font-size: 12px;
    line-height: 14px;
  }
}

.review__program,
.review__date {
  margin-bottom: 11px;

  font-size: 12px;
  line-height: 12px;
  color: #316DC2;
  letter-spacing: 0.12px;
  text-transform: uppercase;

  @media (max-width: $mobile) {
    margin-bottom: 8px;
  }
}

.review p {
  margin: 0;
}

.review .review__accent-text {
  margin: 0;
  margin-bottom: 25px;

  font-size: 24px;
  line-height: 26px;
  color: #316DC2;

  @media (max-width: $tablet) {
    margin-bottom: 24px;

    font-size: 20px;
    line-height: 24px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 18px;
  }
}
