@font-face {
  font-family: "Manrope";
  src:
    local("Manrope"),
    url("../../fonts/Manrope-Light.woff2") format("woff2"),
    url("../../fonts/Manrope-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src:
    local("Manrope"),
    url("../../fonts/Manrope-Regular.woff2") format("woff2"),
    url("../../fonts/Manrope-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src:
    local("Manrope"),
    url("../../fonts/Manrope-Medium.woff2") format("woff2"),
    url("../../fonts/Manrope-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}