html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;

  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 320px;

  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #484848;

  background-color: #F0EFE9;

  @media (max-width: $tablet) {
    line-height: 20px;
  }

  @media (max-width: $mobile) {
    font-size: 14px;
  }
}

.body--no-scroll {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2;

    background-color: rgba(45, 56, 63, 0.6);
  }
}

.section {
  padding: 60px 0;

  @media (max-width: $tablet) {
    padding: 50px 0;
  }
}

.section__title {
  margin: 0;
  margin-bottom: 30px;
  
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;
  color: #316DC2;

  @media (max-width: $tablet) {
    font-size: 34px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 15px;

    font-size: 20px;
    line-height: 20px;
  }
}

.container {
  padding: 0 100px;
  margin: 0 auto;
  width: 1440px;

  @media (max-width: $tablet) {
    padding: 0 45px;
    width: 768px;
  }

  @media (max-width: $mobile) {
    padding: 0 15px;
    width: 320px;
  }
}