// RESET

@mixin button-reset {
  padding: 0;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin link-reset {
  color: inherit;
  text-decoration: none;

  cursor: pointer;
}

@mixin button-style {
  @include button-reset;

  position: relative;

  display: flex;
  align-items: center;
  padding: 21px;
  padding-right: 81px;

  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.28px;
  text-transform: uppercase;

  border-radius: 30px;

  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 5px;
    top: 50%;

    width: 46px;
    height: 46px;

    transform: translateY(-50%);
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  &::before {
    background-color: #316DC2;
    border-radius: 50%;
  }

  &::after {
    background-color: #ffffff;
    
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 10px 10px;
    mask-image: url("/__spritemap#sprite-link-icon-view");
  }
}

@mixin button-style-light {
  @include button-style;

  color: #316DC2;

  background-color: #ffffff;
  border: 1px solid #316DC2;

  &:hover {
    color: #ffffff;

    background-color: #316DC2;

    &::before {
      background-color: #ffffff;
    }

    &::after {
      background-color: #316DC2;
      transform: translateY(-50%) rotate(45deg);
      transform-origin: center;
    }
  }

  &:focus-visible {
    &::after {
      transform: translateY(-50%) rotate(45deg);
      transform-origin: center;
    }
  }

  &:active {
    opacity: 0.7;
  }
}

@mixin link-disable-style {
  &:not([href]) {
    color: #A9AFB7;
    border: 1px solid #A9AFB7;
    pointer-events: none;

    &::before {
      background-color: #A9AFB7;
    }
  }
}

@mixin button-disable-style {
  &:disabled {
    color: #A9AFB7;
    border: 1px solid #A9AFB7;
    pointer-events: none;

    &::before {
      background-color: #A9AFB7;
    }
  }
}

@mixin link-decor {
  position: relative;
  
  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;

    width: 30px;
    height: 30px;

    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  &::before {
    background-color: #316DC2;
    border-radius: 50%;
  }

  &::after {
    background-color: #ffffff;

    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 10px 10px;
    mask-image: url("/__spritemap#sprite-link-icon-view");
  }

  &:hover {
    background-color: #ffffff;

    &::before {
      background-color: #ffffff;
    }

    &::after {
      background-color: #316DC2;
      transform: rotate(45deg);
      transform-origin: center;
    }
  }

  &:focus-visible {
    &::after {
      transform: rotate(45deg);
      transform-origin: center;
    }
  }

  &:active {
    opacity: 0.7;
  }
}