// BREAKPOINTS
$tablet: 1439px;
$mobile: 767px;

// COLORS
$text-dark-color: rgba(72, 72, 72, 1);
$text-light-color: rgba(240, 239, 233, 1);
$text-white-color: rgba(255, 255, 255, 1);
$text-accent-color: rgba(49, 109, 194, 1);
$background-main-color: rgba(240, 239, 233, 1);
$background-dark-color: rgba(49, 109, 194, 1);
$background-white-color: rgba(255, 255, 255, 1);
$effects-dark-color: rgba(49, 109, 194, 1);
$effects-active-color: rgba(39, 86, 153, 1);
$button-dark-color: rgba(49, 109, 194, 1);
$button-light-color: rgba(255, 255, 255, 1);
$disabled-color: rgba(169, 175, 183, 1);
$shaded-overlay: linear-gradient(rgba(49, 109, 194, 0.2), rgba(49, 109, 194, 0.2));
